<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>确认删除问题</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css'%}">
</head>

<body>
    <!---导航栏--->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">智能作业评分系统</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">问题管理</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>确认删除问题</h2>
        <p>您确定要删除以下问题吗？</p>
        <p>{{ question }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">确认删除</button>
            <a href="{% url 'question_list' %}" class="btn btn-default">取消</a>
        </form>
    </div>
</body>